source https://www.nuget.org/api/v2
nuget Microsoft.CodeAnalysis.CSharp
nuget Microsoft.CodeAnalysis.CSharp.Extensions
nuget xunit
nuget xunit.runner.visualstudio version_in_path: true
nuget Shouldly
nuget ApprovalTests